*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all .3s linear;
}

:root{
    --color-light: #fff;
    --color-pramiry:#2165be;
    --color-green:#2ECC71;
    --color-dender:#d33;
    --color-yellow: #d93;
    --backgound: #fff;
}

a{
    text-decoration: none;
}

a, p, i, span{
    font-size: 1.7rem;
}

html{
    font-size: 62.5%;
}

.container-max-width{
    max-width: 1080px;
    margin: 0 auto;
}

body{
    background: var(--backgound);
}

.container-content{
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.container-content h1{
    font-size: 2.7rem;
    padding: .5rem 0;
    text-align: center;
    color: red;
}
.container-content h2{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: red;
}
.container-content h3{
    font-size: 2rem;
    padding: .5rem 0;
    color: red;
}
.container-content span{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
    padding: 3.5rem 0 1rem;
    color: var(--color-dender);
}
.container-content .texts p{
    line-height: 1.7;
    padding: .5rem 0;
}

/* left */
.container-content .left{
    width: 65%;
}
/* search */
.searchs {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerms {
    width: 100%;
    border: .1rem solid #646464;
    border-right: none;
    padding: .5rem;
    height: 4rem;
    outline: none;
    font-size: 1.5rem;
}

.searchTerms:focus{
    color: rgb(145, 145, 145);
}

.searchButtons{
    width: 5rem;
    height: 4rem;
    border: .1rem solid var(--color-pramiry);
    background: var(--color-pramiry);
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
}

.searchButtons ion-icon{
    color: var(--color-light);
}

/* rigth */
.container-content .rigth{
    width: 35%;
    border-left: .1rem solid #646464;
    margin-top: 8rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}


/* img */
.image-center{
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: .1rem solid #d5d5d5;
}

.image-cender .image{
    max-width: 100%;
}

.image-center .image img{
    width: 100%;
}

.image-center .text p{
    font-size: 1.5rem;
    color: var(--color-pramiry);
}
.image-center .textt p{
    font-size: 1.5rem;
    color: var(--color-pramiry);
}
.image-center .text a{
    font-size: 1.2rem;
    color: #c7c7c7;
    padding: none;
}
.image-center .textt a{
    font-size: 1.2rem;
    color: #c7c7c7;
    padding: none;
}
.image-center{
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: .1rem solid #d5d5d5;
}
.image-center .title{
    border: .2rem solid #195eff;
    text-align: center;
    padding: 3rem 0;
    width: 60%;
}
.image-center .title p{
    font-size: 2rem;
    color: var(--color-pramiry);
    font-weight: bold;
}
.image-center .title .big{
    font-size: 3rem;
}
.image-center .textt{
    font-size: 2rem;
    color: var(--color-pramiry);
    width: 40%;
}

@media screen and (max-width: 768px ){
    .container-content{
        display: flex;
        flex-direction: column;
    }
    .container-content .left{
        width: 100%;
    }
    .container-content .rigth{
        width: 100%;
    }
}

