<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- link ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/slot.css">
    <title>vb9.xyz</title>
</head>
<body>

    <!-- header -->
    <div class="header">
    
        <div class="head-item container-max-width">
            <div class="open-icon " onclick="OpenNav()"><ion-icon name="menu"></ion-icon></div>

            <div class="hidden md:block">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search...">
                    <button type="submit" class="searchButton">
                      <ion-icon name="search"></ion-icon>
                   </button>
                 </div>
            </div>

            <div class="logo cursor-pointer"><a href="../index.html"><img src="../img/logo.png"></a></div>

            <nav id="nav">
                <div class="close-icon">
                    <ion-icon onclick="CloseNav()" name="close" class=""></ion-icon>
                </div>

                <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="Search...">
                       <button type="submit" class="searchButton">
                        <ion-icon name="search"></ion-icon>
                      </button>
                    </div>
                </div>

                <ul class="nav-lists text-white md:hidden">
                    <a href="../index.html">HƯỚNG DẪN</a >
                    <a href="../components/banca.html" >BẮN CÁ</a>
                    <a href="slot.html" >SLOT 3D</a>
                    <a href="../components/song.html" >SÒNG BÀI</a>
                    <a href="../components/the.html" >THỂ THAO</a>
                    <a href="../components/xo.html" >XỔ SỐ</a>
                </ul>

                <div class="log-item text-white hidden md:block">
                    <a href="https://www.hay88.one/?inviteCode=6358702" class="green">Code 188K</a>
                    <a href="https://www.hay88.one/?inviteCode=6358702" class="red">App 100K</a>
                </div>
            </nav>   
        </div>
        <div class="hidden md:block">
            <ul class="nav-list ">
                    <div>
                        <a href="../index.html" class="links">HƯỚNG DẪN</a>
                    </div>
                    <div><a href="../components/banca.html" class="links">BẮN CÁ</a></div>
                    <div><a href="slot.html" class="links active">SLOT 3D</a></div>
                    <div><a href="../components/song.html" class="links">SÒNG BÀI</a></div>
                    <div><a href="../components/the.html" class="links">THỂ THAO</a></div>
                    <div><a href="../components/xo.html" class="links">XỔ SỐ</a></div>  
            </ul>
        </div>
        <div class="btncenter">
            <a href="https://www.hay88.one/?inviteCode=6358702" class="green">Code 188K</a>
            <a href="https://www.hay88.one/?inviteCode=6358702" class="red">App 100K</a>
        </div>
    </div>
    <!-- end of header -->

    <!--container-->
    <section>
        <div class="container-content container-max-width">
            <!-- left -->
             <div class="left">
                <span>CATEGORY ARCHIVES: BẮN CÁ</span>
                <h2>Nothing Found</h2>
                <div class="texts">
                    <p>
                        It seems we can’t find what you’re looking for. Perhaps searching can help.
                    </p>
                </div>
                <div class="wraps">
                    <div class="searchs">
                       <input type="text" class="searchTerms" placeholder="Search...">
                       <button type="submit" class="searchButtons">
                        <ion-icon name="search"></ion-icon>
                      </button>
                    </div>
                 </div>
             </div>
             <!-- rigth -->
              <div class="rigth">
                <h3>BÀI MỚI NHẤT</h3>
                <a href="../components/nohu.html" class="image-center">
                    <div class="image">
                        <img src="../img/hero3.jpg" alt="">
                    </div>
                    <div class="text">
                        <p>
                            Nohu666 - Bí quyết chơi poker đơn giản tại nhà cái nohu666
                            <P class="black">Chức năng bình luận bị tắt</P>
                        </p>
                    </div>
                </a>
                <a href="../components/hay88.html" class="image-center">
                    <div class="title">
                        <p class="big">07</p>
                        <p>Th3</p>
                    </div>
                    <div class="textt">
                        <p>
                            Hay88 - hay88vn.biz Bí quyết 
                            <p class="black">Chức năng bình luận bị tắt</p>
                        </p>
                    </div>
                </a>
                <a href="../components/win88.html" class="image-center">
                    <div class="image">
                        <img src="../img/hero4.jpg" alt="">
                    </div>
                    <div class="text">
                        <p>
                            Win88 - win88vn.biz Cách Đọc Kèo Chấp 1/2
                            <p class="black">Chức năng bình luận bị tắt</p>
                        </p>
                    </div>
                </a>
                <a href="../components/j88.html" class="image-center">
                    <div class="image">
                        <img src="../img/hero2.jpg" alt="">
                    </div>
                    <div class="text">
                        <p>
                            J88 – j88vn.vip Đăng ký tại nhà cái nhận ngay code 188k
                            <p class="black">Chức năng bình luận bị tắt</p>
                        </p>
                    </div>
                </a>
                </a>
            </div>

        </div>
    </section>
    <!-- end of hero -->

    <!-- footer -->
    <footer>
        <div class="footer-content container-max-width">
             <div class="grid-footer">
                <div class="box">
                    <div class="title">
                        <div class="image">
                            <img src="../img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="desc">
                        <p>VB9 là nhà cái hàng đầu châu Á hiện nay, với kho game cực khủng đứng top đầu hiện tại. VB9 tự hào là nhà cái mang đến nhiều trải nghiệm cá cược thú vị nhất cho người chơi. Tham gia trải nghiệm ngay để có thật nhiều ưu đãi đến từ chúng tôi.</p>
                        <img src="../img/icon-footer.png" alt="">
                        <p>Nhận khuyến mãi tại: <b> Winvn , vn123</b></p>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h4>VỀ CHÚNG TÔI
                        </h4>
                    </div>
                    <div class="desc">
                        <a href="https://www.hay88.one/?inviteCode=6358702">Giới thiệu</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Chính sách bảo mật</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Điều khoản sử dụng</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Quyền riêng tư</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Liên hệ</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Tác giả</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Sitemap</a>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h4>CHUYÊN MỤC
                        </h4>
                    </div>
                    <div class="desc">
                        <a href="https://www.hay88.one/?inviteCode=6358702">Hướng dẫn</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Bắn cá win55</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Slot 3D</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Thể thao</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Tác giả</a>
                        <a href="https://www.hay88.one/?inviteCode=6358702">Xổ số</a>
                    </div>
                </div>
                <div class="box">
                    <div class="title">
                        <h4>LIÊN HỆ
                        </h4>
                    </div>
                    <div class="desc">
                        <span>Hỗ trợ: 24/7</span>
                        <span>Địa chỉ: 410 Quang Trung, Gò Vấp, Tp.HCM, Việt Nam</span>
                        <span>Website: https://vb9.xyz/</span>
                    </div>
                </div>
             </div>
        </div>
        <div class="copy">
            <p>copyright <i class="fa-regular fa-copyright"></i> Vb9.xyz</p>
        </div>
    </footer>
    <!-- end of footer -->
    
    <!-- script -->
    <script src="../js/app.js"></script>
</body>
</html>